.header-img-container {
  width: 100%;
  margin: 0;
  padding: 0;
  height: var(--movie-cover-height);
  position: absolute;
  top: var(--navbar-height);
}


.header-img-container img {
  opacity: 0.8;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.movie-content-container {
  width: 100%;
  position: absolute;
  top: var(--movie-content-top);
  /* padding: 0 5%; */
}

.movie-header-img {
  height: 30vh;
}


.movie-header-img img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}