.watchlist-container {
  width: 60%;
  margin: 15vh auto;
}

.wl-movie-card {
  background-color: var(--card-background-color);
  width: 100%;
  border-radius: 20px;
  margin: 20px 0;
}

.wl-movie-picture {
  width: 80%;
  padding-top: 80%;
  position: relative;
}

.wl-movie-picture img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.wl-movie-header {
  width: 100%;
  display: flex;
  color: white;
  font-size: 1.3rem;
}

.wl-movie-header-icon {
  flex: 1;
  color: rgb(255, 77, 0);
  text-align: right;
  justify-content: right;
  font-size: 2.4rem;
  margin: 5px;
}

.wl-movie-header-title {
  flex: 11;
}

.wl-movie-body .info-line {
  direction: rtl;
  color: white;
  display: flex;
  justify-content: rigth;
  margin: 10px 0;
}

.wl-movie-body .info-line span {
  margin: 0 5px;
}

.recommend-movies {
  width: 70%;
  margin: 5vh auto;
}

.r-movies-card {
  background-color: var(--card-background-color);
  width: 100%;
  border-radius: 20px;
  margin: 20px 0;
  color: white;
}

.r-movies-card span {
  display: block;
  width: 100%;
  /* padding: 10px; */
  text-align: center;
}
