.navbar {
  background-color: var(--primary-color);
  border: 0;
  margin: 0;
  padding: 0;
}

.row {
  width: 100%;
}

.nav-container {
  padding: 0;
  border: 0;
  height: 100%;
}

.icon {
  height: var(--navbar-height);
  margin: 0;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: right;
  height: var(--navbar-height);
}


.search-bar-container {
  display: flex;
  align-items: center;
  height: var(--navbar-height);
  padding: 0 20%;
}

.dropdown-icon {
  font-size: 20px;
  color: var(--primary-color);
}

.dropdown-btn,
.dropdown-btn:hover,
.show > .btn-secondary.dropdown-toggle,
.show > .btn-secondary.dropdown-toggle {
  background-color: white;
  color: black;
  font-size: larger;
  border: none;
}

.show .sort-by-menu {
  background-color: var(--transparent-primary-color);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.search-input-container {
  margin: 0 30px;
  display: inline;
}

.search-icon {
  background-color: white;
  font-size: 2rem;
  font-weight: 700 !important;
  color: var(--primary-color);
}


